.contact-background{
    position: relative;
    height: 100vh;
    background-color: #252527;
  }

.contact-content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 100vh;
  width: 100%;
}

.contact-text {
  background-color:rgba(151, 199, 209, .7);
  color: white;
  padding: 1rem;
  border-radius: 30px;
}

.text-center{
  color: white;
}

.fa-file{
  font-size: 40px;
  padding: 10px;
}