.home-details {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100vh;
    width: 100%;
    /* border: 1px solid red; */
  }
  
  .home-text {
    /* background-color: rgba(28,38,48,.95); */
    /* background-color:rgba(222, 112, 1, .6); */
    /* background-color:rgba(222, 112, 1, .6); */
    background-color:rgba(151, 199, 209, .7);
    padding: 1rem;
    font-size: 1.5rem;
    letter-spacing: 10px;
    color: white;
    border-radius: 30px;
  }

  .home-background{
    position: relative;
    height: 100vh;
    background-color: #0e1821;
  }