/* **************** customizing the nav bar **************** */
/* makes the nav stay at the top */
.side-nav {
    position: fixed;
    top: 30%;
    z-index: 2;
  }

.top-nav {
    position: fixed;
    top: 0;
    z-index: 2;
}

.nav-symbol {
    height: 50px;
    width: 50px;
   /* filter: brightness(.9) invert(.7) sepia(.5) hue-rotate(100deg) saturate(50%);*/
}